<div class="container-fluid p-3">
  <p>Veuillez renseigner les champs ci-dessous pour créer votre profile</p>

  <form [formGroup]="profileForm">

      <label for="firstname"></label>
      <input type="text" formControlName="firstName" >
      <p>
        Form Status: {{ profileForm.status }}
      </p>
      <label for="lastname"></label>
      <input type="text" formControlName="lastName" >
      <p>
        Form Status: {{ profileForm.status }}
      </p>
      <label for="child_age"></label>
      <input type="number" formControlName="child_age" >
      <p>
        Form Status: {{ profileForm.status }}
      </p>
      <label for="email"></label>
      <input type="email" formControlName="email" >
      <p>
        Form Status: {{ profileForm.status }}
      </p>
      <button type="submit" [disabled]="!profileForm.valid" class="btn btn-primary" (click)="createProfilePArents()">Envoyer</button>

  </form>

</div>

